form select {
    width: 100%;
    border-radius: 0.5em;
    border: 2px solid #6771c9;
  }

button {
    border-radius: 0.5em;
}

span {
    border-radius: 0.5em;
}
.gap{
    gap: 50px;
}
#search-form {
  margin: 0.625em auto;
  width: 100%;

  justify-content: center;
  align-items: center;
}

 #location-search,  #seniority-search,  #category-search {
    display: none;
  }
  form .hidden {
    display: block !important;
  }